*{
    font-family: 'Ruda', sans-serif;
}

#insta{
   padding-top:6px;
}
#facebook{
    margin-right:12px;
}
body{
  background-color: black;  
}
.topbar{
    background-color: black;
}
header{
    background-image: url("./restaurent-imgs/pizza1\ 1.svg");
    background-position: center center;
    padding: 0%;
            /* Make image fixed */
            
            /* Not repeat images */
 
            background-size: cover;
            height:500px;
            margin: 0%;
}      
.inner{
    display: flex;
    flex-direction: column;
}
#img-2{
   margin-top:100px; 
   margin-left: 60px;
}
#img-3{
    margin-left: 60px;
}
.inner p{
    margin-left: 60px;
    color: white;
    font-weight: 400;
}
.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-body{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin-inline:150px;
}
.left{
     align-items: start;
     margin-right: 50px;
     
}
.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left p{
    color: white;
}
.menu-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 150px;
    color: white;
}
.flex-1{
    display: flex;
    align-items: center;
    margin-inline:150px;
    color: white;
}
.flex-1 h3{
   color: #F2C94C;
}
.carousel-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 150px;
    color: white;
}
.items img{
    width: 700px;
    height: 400px;
    margin-inline: auto;
}
.carousel-indicators{
    text-align:center;
    top:105%;
}
.carousel-indicators button{
    width: 5px !important;
    height: 5px !important;
    border-radius: 50%;
}
.div-2 img{
    padding: 4px;
}
.div-3 img{
    padding: 2px;
}
.div-1{
    padding-top: 2px;
    padding-bottom: 2px;
}
.find-us-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 150px;
    color: white;
}
.find-us-body{
    margin-inline: 150px;
    color: white;
}
.body1 img{
width: 40px;
margin-right: 10px;
padding: 5px;
}
.footer-right img{
    width: 40px;
    margin-right: 15px;
    padding: 5px;
}
.footer-left img{
    width: 100px;
}
.footer-right{
    color: white;
}
footer{
    margin-top: 100px;
}
.footer-right{
    margin-right:30px ;
}
.footer-left{
    margin-right:10px ;
}

@media (max-width:970px) {
    .about-body{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .left{
        margin-top: 50px;
        margin-left:30px;
    }

    .left img{
        width: auto;
    }

    .flex-1{
        flex-wrap: wrap;
        align-items: center;
    }
    .find-us-body{
        display:block;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:875px){
    .div{
        flex-wrap: wrap;
    }
    .flex-1>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:468px){
    .div-1 img{
     width: 200px;
     height: 99px;
    }
  .body2 img{
    width:80vw;
  }

  .flex-1{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-right: 50px;
}
 footer{
    flex-wrap: wrap;
    width: 100%;
 }

 .items img{
    width: 100%;
    height: 400px;
    margin-inline: auto;
}

}
  
  

